swagger: '2.0'
info:
  title: API Recolhe.eco
  description: Lista de endpoints disponiveis na API com os recursos e informações sobre pontos de coletas e tipo de material.
  version: '1.0.0'
host: api.recolhe.eco
basePath: /api/v1
tags:
  - name: Pontos de coleta
security:
  - client_id: []
  - access_token: []
securityDefinitions:
  client_id:
    type: apiKey
    in: header
    name: client_id
  access_token:
    type: apiKey
    in: header
    name: access_token
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /pontos-de-coleta:
    get:
      tags:
        - Pontos de coleta
      summary: Obtém o conjunto de pontos de coleta.
      description: Lista com os pontos de coleta.
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - client_id: []
        - access_token: []
      responses:
        '200':
          description: Sucesso.
          schema:
            type: array
            items:
              $ref: '#/definitions/Ponto-de-coleta'
        '400':
          description: Não há pontos de coletas.
        '401':
          description: Não autorizado.
        '403':
          description: Ação proibida.
        '500':
          description: Erro Interno.
  /pontos-de-coleta/municipio/{IdMunicipio}:      
    get:
      tags:
        - Pontos de coleta
      summary: Obtém o conjunto de pontos de coleta por Município.
      description: Lista com os pontos de coleta.
      consumes:
        - application/json
        - application/xml
      produces:
        - application/xml
        - application/json
      parameters:
        - name: IdMunicipio
          in: path
          description: ID do município IBGE
          required: true
          type: string
        - in: body
          name: body
          description: O ponto de coleta precisa estar previamente cadastrado.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Ponto-de-coleta'
      responses:
        '200':
          description: Sucesso.
        '400':
          description: Município não é válido.
        '404':
          description: Município não encontrado.
        '405':
          description: Informações fornecidas inválidas.
  /pontos-de-coleta/municipio/{IdMunicipio}/cep/{cep}:   
    get:
      tags:
        - Pontos de coleta
      summary: Obtém o conjunto de pontos de coleta em um raio proximo ao CEP informado.
      description: Lista com os pontos de coleta proximos ao CEP.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: IdMunicipio
        in: path 
        description: Id do município IBGE
        required: true
        type: string
      - name: cep
        in: path 
        description: CEP do logradouro
        required: true
        type: string  
      - in: body
        name: body
        description: O ponto de coleta precisa estar previamente cadastrado e o Id do município e CEP informado.
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/Ponto-de-coleta'
      security:
        - client_id: []
        - access_token: []
      responses:
        '200':
          description: Sucesso.
        '401':
          description: Não autorizado.
        '403':
          description: Ação proibida.
        '500':
          description: Erro Interno. 
  /pontos-de-coleta/municipio/{IdMunicipio}/material/{tipoMaterial}:   
    get:
      tags:
        - Pontos de coleta
      summary: Obtém o conjunto de pontos de coleta em um raio proximo ao CEP informado.
      description: Lista com os pontos de coleta proximos ao CEP.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: IdMunicipio
        in: path 
        description: Id do município IBGE
        required: true
        type: string
      - name: tipoMaterial
        in: path 
        description: Tipo de material a ser coletado. (Exemplo - vidro, plastico, eletrônico)
        required: true
        type: string  
      - in: body
        name: body
        description: O ponto de coleta precisa estar previamente cadastrado e o Id do município e o tipo de material informados no cadastro.
        required: true
        schema:
          $ref: '#/definitions/Ponto-de-coleta'
      security:
        - client_id: []
        - access_token: []
      responses:
        '200':
          description: Sucesso.
        '401':
          description: Não autorizado.
        '403':
          description: Ação proibida.
        '500':
          description: Erro Interno.
  /pontos-de-coleta/{id}:
    get:
      tags:
        - Pontos de coleta
      summary: Obtém o conjunto de pontos de coleta.
      description: Lista com os pontos de coleta.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: id
        in: path 
        description: Id do ponto a ser cadastrado.
        required: true
        type: string
      security:
        - client_id: []
        - access_token: []
      responses:
        '200':
          description: Sucesso.
          schema:
            type: array
            items:
              $ref: '#/definitions/Ponto-de-coleta'
        '400':
          description: Não há pontos de coletas com o id enviado.
        '401':
          description: Não autorizado.
        '403':
          description: Ação proibida.
        '500':
          description: Erro Interno.
    post:
      tags:
        - Pontos de coleta
      summary: Insere o ponto de coleta.
      description: Grava um ponto de coleta relacionado ao usuário e endereço.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: id
        in: path 
        description: Id do ponto a ser cadastrado.
        required: true
        type: string
      - in: body
        name: body
        description: Necessario informar o id do ponto a ser cadastrado assim como o cep e usuário
        required: true
        schema:
          $ref: '#/definitions/Ponto-de-coleta'
      security:
        - client_id: []
        - access_token: []
      responses:
        '200':
          description: Sucesso.
        '401':
          description: Não autorizado.
        '403':
          description: Ação proibida.
        '500':
          description: Erro Interno.  

    put:
      tags:
        - Pontos de coleta
      summary: Realiza alterações em um ponto de coleta.
      description: Altera um ponto de coleta.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: id
        in: path 
        description: Id do ponto a ser alterado.
        required: true
        type: string
      - in: body
        name: body
        description: Necessario informar o id do ponto cadastrado assim como o usuário.
        required: true
        schema:
          $ref: '#/definitions/Ponto-de-coleta'
      security:
        - client_id: []
        - access_token: []
      responses:
        '200':
          description: Sucesso.
        '401':
          description: Não autorizado.
        '403':
          description: Ação proibida.
        '500':
          description: Erro Interno.
          
    delete:
      tags:
        - Pontos de coleta
      summary: Exclui o ponto de coleta.
      description: Exlui o ponto de coleta relacionado ao usuário e endereço.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: id
        in: path 
        description: Id do ponto a ser excluido.
        required: true
        type: string
      - in: body
        name: body
        description: Necessario informar o id do ponto de caoleta assim como o id do usuário.
        required: true
        schema:
          $ref: '#/definitions/Ponto-de-coleta'
      security:
        - client_id: []
        - access_token: []
      responses:
        '200':
          description: Sucesso.
        '401':
          description: Não autorizado.
        '403':
          description: Ação proibida.
        '500':
          description: Erro Interno.          
definitions:
  Coleta:
   type: object
   properties:
    id:
      type: string
    usuario:
        type: object
        $ref: '#/definitions/Usuario'
    ponto-de-coleta:
        type: object
        $ref: '#/definitions/Ponto-de-coleta'
    tipoMaterial:
        type: array
        items: 
          type: object
          $ref: '#/definitions/material'
  Ponto-de-coleta:  
    type: object
    properties:
      id:
        type: string
      nome:
        type: string    
      descricao:
        type: string
      endereco:
        type: object
        $ref: '#/definitions/Endereco'   
  material:
    type: object
    properties:
      id:
        type: string
      nome:
        type: string    
      descricao:
        type: string
  Usuario:
    type: object
    properties:
      id:
        type: string
      nome:
        type: string
      cel:
        type: number
      cgc:
        type: string
  Endereco:
    type: object
    properties:
      cep:
        type: string
      numero:
        type: number  
      logradouro:
        type: string
      bairro:
        type: string
      municipio:
        type: string 
      uf:
        type: string   
      ibge:
        type: number
      geolocalizacao:
        type: object
        $ref: '#/definitions/Geolocalizacao'
  Geolocalizacao:
    type: object
    properties:
      longitude:
        type: string
      latitude:
        type: string
